/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.char:nth-child(1) { animation-delay: 0.65s; }  
.char:nth-child(2) { animation-delay: 0.7s; }  
.char:nth-child(3) { animation-delay: 0.75s; }  
.char:nth-child(4) { animation-delay: 0.8s; }  
.char:nth-child(5) { animation-delay: 0.85s; }  
.char:nth-child(6) { animation-delay: 0.9s; }   
.char:nth-child(7) { animation-delay: 0.95s; }   

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 200vh; /* 縦にスクロールするための高さ */
    /*visibility: hidden; /* 初期状態で非表示 */
    font-family: 'KuROEu1Font', sans-serif;
}
nav {
    display: block;
}
@media screen and (max-width: 960px)  {
    nav{
        display: none;
    }
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
}
@media screen and (max-width: 960px)  {
    header{
        padding: 20px 20px;
    }
}

.hamburger {
    /* padding: 10px 0px; */
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    display: none;
}
@media screen and (max-width: 960px)  {
    .hamburger{
        display:block;
    }
}
.hamburger:hover {
    opacity: 0.7; 
}
.hamburger.is-active:hover {
    opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; 
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
    width: 30px; /* 一番下の棒の幅を短く */
    right: 0; /* 右揃え */
}


.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    width: 30px;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    
}

@font-face {
    font-family: 'KuROEu1Font';
    /* src: url('/fonts/Dual-300.ttf') format('TrueType'); */
    /* src: url('/fonts/Anurati-Regular.otf') format('opentype'); */
    src: url('/fonts/MADE_Evolve_Sans_Regular_EVO__PERSONAL_USE_.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.transition-effect-1, .transition-effect-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform: scaleY(0);
    transform-origin: bottom;
    pointer-events: none;
  }
  
  .transition-effect-1 {
    background-color: black;
  }
  
  .transition-effect-2 {
    background-color: White;
  }
  
  .logo {
        font-weight: bold;
        font-size: 150px;
        z-index: 2;
        position: relative;
        color: #FFF;
        font-family: 'KuROEu1Font', sans-serif;
        user-select: none;
        text-transform: uppercase;
    }

    @media screen and (max-width: 960px)  {
        .logo{
            font-size: calc(100vw / 7);
        }
    }

    .text-animation {
        display: flex;
        gap: 5px;
    }

    @keyframes title-animation {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }