#works {
    background-color: #FFF;
    padding:50px 0;
    position:relative;
    height: 100vh;

}

#about {
    background-color: #FFF;
    padding: 50px 0;
    position: relative;
    clip-path: polygon(0% 50px, 100% 100vh, 100% 100%, 0px 100%);
}

#contact {
    background-color: #CCC;
    /* padding:50px 0; */
    position:relative;
}

h2 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'KuROEu1Font', sans-serif;
    user-select: none;
    margin:0;
    /* letter-spacing:10px;
    text-indent: 10px; */
    margin: 20px 0;
    text-align: center;
}

h3 {
    font-size:50px;
}

h4 {
    font-size:40px;
}


/* 絶対に名前変えろ */
.style1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.style2 {
    display: inline-flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    transition: 0.2s cubic-bezier(0,0,0,1);
}

.style2:hover {
    background-color: #00F7FF;
    transform:scale(1.1);
}

.logo-x {
    padding:25px;
}

.style3 {
    display:flex;
    justify-content:center;
    align-items:center;
    /* width:80%; */
}
.style4 {
    width:20%;
    text-align: center;
    margin:10px;
}
.style5 {
    margin-top:20px;
}

@media screen and (max-width: 960px)  {
    h2 {
        /* font-size: calc(100vw / 7); */
        font-size: 60px;
    }
    .style2 {
        width:50px;
        height:50px;
    }
    .logo-x {
        padding:13px;
    }
    .style3 {
        flex-direction: column;
    }
    .style4 {
        width:200px;
    }
}

.about-title {
    /* overflow: hidden; */
}

.about-char {
    opacity: 0; /* 初期状態で透明 */
}

.icon {
    width: 100%;
    border: 2px solid #0FF;
    border-radius: 100%;
    box-sizing: border-box;
}

.btn1 {
    width:200px;
    padding: 20px;
    border-radius:100px;
    color: #000;
    background-color: #FFF;
    border: 2px solid #000;
    cursor:pointer;
    font-weight: bold;
}

.btn1:hover {
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
}

.about-title span {
    opacity: 0;                 /* 初期の透明度 */
    transform: translateY(10px); /* 初期位置を下に設定 */
    display: inline-block;       /* 各文字を個別に扱うため */
}
