#works {
    background-color: #FFF;
    padding:50px 0;
    position:relative;
    height: 100vh;

}

#about {
    background-color: #DDD;
    padding:50px 0;
    height: 100vh;
    position:relative;
    transform: rotateX(90deg) rotateY(20deg) rotateZ(10deg);
    scale:0.7;
}

#contact {
    background-color: #CCC;
    padding:50px 0;
    height: 100vh;
    position:relative;
}

h2 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'KuROEu1Font', sans-serif;
    user-select: none;
    margin:0;
    letter-spacing:10px;
}


/* 絶対に名前変えろ */
.style1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.style2 {
    display: inline-flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    transition: 0.2s cubic-bezier(0,0,0,1);
}

.style2:hover {
    background-color: #00F7FF;
    transform:scale(1.1);
}

.logo-x {
    padding:25px;
}

.style3 {
    display:flex;
    justify-content:center;
}

@media screen and (max-width: 960px)  {
    h2 {
        font-size: calc(100vw / 7);
    }
    .style2 {
        width:50px;
        height:50px;
    }
    .logo-x {
        padding:13px;
    }
}

.about-title {
    /* overflow: hidden; */
}

.about-char {
    opacity: 0; /* 初期状態で透明 */
}