header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
}

header a {
    color: white;
}

.siteTitle {
    font-size: 24px;
    font-weight: bold;
}
.navList {
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight:bold;
}