a {
    color: white;
}
header {
    display: flex;
    justify-Content: space-between;
    align-Items: center;
    padding: 30px 50px;
    width: 100%;
    position: fixed;
    box-Sizing: border-box;
    zindex: 1000;
}

.siteTitle {
    font-size: 24px;
    font-weight: bold;
}
.navList {
    display: flex;
    gap: 20px;
    list-Style: none;
    font-Weight:bold;
}