header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
}

@media screen and (max-width: 960px) {
    header {
        padding: 20px 20px;
    }
}

header a {
    color: white;
}

.siteTitle {
    font-size: 24px;
    font-weight: bold;
}

.navList {
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    display: none;
}

@media screen and (max-width: 960px) {
    .hamburger {
        display: block;
    }
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
    width: 30px; /* 中央の線の幅を20pxに */
    left: 0; /* 左揃え */
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    height: 2px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -8px; /* 上の線と中央の線の間隔を調整 */
    width: 30px; /* 一番上の線の幅を10pxに */
    left: 0; /* 左揃え */
}

.hamburger-inner::after {
    bottom: -8px; /* 下の線と中央の線の間隔を調整 */
    width: 30px; /* 一番下の線の幅を30pxに */
    left: 0; /* 左揃え */
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: 
        top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner,
.hamburger--collapse.is-active .hamburger-inner::before,
.hamburger--collapse.is-active .hamburger-inner::after {
    width: 30px; /* 開いた状態では全ての線を30pxにする */
}

.fullscreenMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.fullscreenMenu ul {
    list-style: none;
    padding: 0;
}

.fullscreenMenu li {
    margin: 20px 0;
    font-size: 24px;
}